
.side-footer-button {

    width: 68px;
    height: 22px;

    padding-left: 20px;
    padding-right: 100px;
    
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    
    background-color: transparent;
    border:1px solid transparent;
    color: #52B6FF;

}

.today-circular-progress-bar {

    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    
    background-color: transparent;
    border:1px solid transparent;
    border-radius: 100%;
    background-color: #52B6FF;
    color: #FFFFFF;

}